REACT_APP_SUBGRAPH_API_URL=https://api.thegraph.com/subgraphs/name/mpetrun5/ryu
REACT_APP_MOONBEAM_NETWORK_URL=https://rpc.testnet.moonbeam.network
REACT_APP_PINATA_API_KEY=
REACT_APP_PINATA_API_SECRET=
